.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.links {
    position: relative;
    float: left;
    left: 0;
}

.link {
    padding-left: 10px;
    padding-right: 10px;
}

.avatars {
    padding: 10px;
    float: right;
    align-items: center;
}

.avatar {
    float: right;
    padding: 10px;
}

a {
    text-decoration: none !important;
    color: rgb(231, 231, 231);
}